<header>
  <div class="uk-container uk-container-medium">
    <nav class="uk-navbar-container uk-margin" uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#"
          ><img src="assets/eboto.png" height="40px" width="40px" alt=""
        /></a>
      </div>
      <div class="uk-navbar-right">
        <button class="uk-button clear-btn" type="button">
          Voter
          <span class="uk-margin-small-left" uk-icon="chevron-down"></span>
        </button>
        <div uk-dropdown>
          <ul class="uk-nav uk-dropdown-nav">
            <li><a href="#">Help</a></li>
            <li><a href="#">Settings</a></li>
            <li class="uk-nav-divider"></li>
            <li><a (click)="logOut()">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
