<app-voters-page-header></app-voters-page-header>

<div class="page-wrapper">
  <div class="title">
    <div
      class="uk-card uk-card-default uk-margin-medium-top uk-margin-medium-bottom uk-padding-small uk-text-center"
    >
      <h2>BatStateU Alangilan SC Election 2022</h2>
    </div>
  </div>
  <div class="uk-container uk-container-medium">
    <div
      class="uk-card uk-card-default uk-margin-medium-bottom"
      style="width: 50vw"
      *ngFor="let position of samplePosition"
    >
      <div class="uk-card-header" style="padding: 1.5em">
        <h4>{{ position.position }}</h4>
      </div>
      <div class="uk-card-body" style="padding: 1.5em">
        <small>Please select only one candidate</small>

        <form action="" class="uk-margin-medium-top">
          <div
            class="uk-margin candidates"
            *ngFor="let candidate of sampleCandidates"
          >
            <label
              class="candidate-item uk-margin-medium-bottom"
              *ngIf="candidate.position == position.position"
              ><input
                class="uk-radio uk-margin-right"
                type="radio"
                name="radio2"
                (change)="onChange(candidate)"
              />
              <div uk-lightbox>
                <a href="assets/test-banner.jpg">
                  <img
                    src="assets/test-banner.jpg"
                    height="100px"
                    width="90px"
                    alt=""
                  />
                </a>
              </div>

              <span
                ><h4>{{ candidate.name }}</h4></span
              >
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>

  <app-voters-page-footer></app-voters-page-footer>
</div>
