<div class="page-wrapper uk-padding-small">
  <app-breadcrumb [location]="'Dashboard'"></app-breadcrumb>

  <div class="content">
    <div class="total">
      <header class="uk-margin-small-bottom">
        <h4>Dashboard</h4>
      </header>
      <div
        class="uk-grid-small uk-child-width-expand@s uk-card-body uk-margin-small-top"
        uk-grid
      >
        <div>
          <div
            class="uk-card uk-card-default status-card"
            style="background-color: #00bfea"
          >
            <div class="uk-child-width-expand@s" uk-grid style="height: 100%">
              <div class="col">
                <div class="text-wrapper">
                  <h3>2</h3>
                  <small>Total no. of Positions</small>
                </div>
              </div>
              <div class="col">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="90px"
                  height="90px"
                  fill="#00a2c8"
                  class="bi bi-list-task"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"
                  />
                  <path
                    d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div
            class="uk-card uk-card-default status-card"
            style="background-color: #00a65c"
          >
            <div class="uk-child-width-expand@s" uk-grid style="height: 100%">
              <div class="col">
                <div class="text-wrapper">
                  <h3>2</h3>
                  <small>Total no. of Candidates</small>
                </div>
              </div>
              <div class="col">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="90"
                  height="90"
                  fill="#008d4f"
                  class="bi bi-person-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div
            class="uk-card uk-card-default status-card"
            style="background-color: #f19d18"
          >
            <div class="uk-child-width-expand@s" uk-grid style="height: 100%">
              <div class="col">
                <div class="text-wrapper">
                  <h3>2</h3>
                  <small>Total no. of Voters</small>
                </div>
              </div>
              <div class="col">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="90px"
                  height="90px"
                  fill="#cf8514"
                  class="bi bi-people-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"
                  />
                  <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div
            class="uk-card uk-card-default status-card"
            style="background-color: #dd4d3b"
          >
            <div class="uk-child-width-expand@s" uk-grid style="height: 100%">
              <div class="col">
                <div class="text-wrapper">
                  <h3>2</h3>
                  <small>Voters Voted</small>
                </div>
              </div>
              <div class="col">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="70px"
                  height="70px"
                  fill="#bd4131
                  "
                  class="bi bi-pencil-square"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="votes-tally uk-margin-large-top">
      <header>
        <h5>Votes Tally</h5>
      </header>

      <div
        class="uk-grid-small uk-child-width-expand@s uk-text-center uk-margin-small-top"
        uk-grid
      >
        <div>
          <div class="uk-card uk-card-default uk-card-body">
            President session
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-body">
            President session
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
