<div class="page-wrapper uk-padding-small">
  <app-breadcrumb [location]="'Manage Positions'"></app-breadcrumb>

  <header class="header uk-margin-small-bottom">
    <h4>Positions List</h4>
  </header>

  <div class="mat-elevation-z1">
    <div class="table-header uk-padding-small">
      <div class="table-header-container">
        <div class="left-table-header">
          <a
            class="uk-button uk-button-primary"
            href="#modal-sections"
            uk-toggle
            (click)="clearForm()"
            >Add Position</a
          >
        </div>
        <div class="">
          <form class="uk-search uk-search-default">
            <span class="uk-search-icon-flip" uk-search-icon></span>
            <input
              class="uk-search-input"
              type="search"
              placeholder="Search"
              (keyup)="searchFilter($event)"
            />
          </form>
          <button
            class="uk-button uk-button-default uk-margin-small-left"
            type="button"
          >
            Filter
          </button>
          <div uk-dropdown class="">
            <ul class="uk-nav uk-dropdown-nav">
              <li>
                <a (click)="filter('')">All</a>
              </li>
              <li *ngFor="let position of positions">
                <a (click)="filter(position.description)">{{
                  position.description
                }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
    >
      <ng-container matColumnDef="position">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by number"
        >
          Description
        </th>
        <td mat-cell *matCellDef="let element">
          <span class="text-wrapper">{{ element.description }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by name"
        >
          Order
        </th>
        <td mat-cell *matCellDef="let element">{{ element.maximumVote }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <div class="buttons" style="display: flex">
            <a
              type="button"
              class="uk-button uk-button-primary uk-margin-small-right"
              style="padding-inline: 1em"
              (click)="selectUpdate(element)"
              href="#update-position"
              uk-toggle
            >
              <span uk-icon="icon: pencil; ratio: 1"></span>
            </a>
            <button
              type="button"
              class="uk-button uk-button-danger"
              style="padding-inline: 1em"
              (click)="deletePosition(element.id)"
            >
              <span uk-icon="icon: trash; ratio: 1"></span>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="5"
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
  <div class="spinner" *ngIf="isLoading">
    <span uk-spinner="ratio: 3"></span>
  </div>
</div>

<div id="modal-sections" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h4>Add New Position</h4>
    </div>
    <div class="uk-modal-body">
      <form [formGroup]="positionForm">
        <fieldset class="uk-fieldset">
          <div class="uk-margin">
            <label for="position">Position</label>

            <input
              class="uk-input"
              type="text"
              id="position"
              name="position"
              formControlName="description"
            />
            <small
              class="text-danger"
              *ngIf="
                positionForm.controls['description'].hasError('required') &&
                positionForm.controls['description'].touched
              "
              >Position field is required
            </small>
          </div>
          <div class="uk-margin">
            <label for="maximumVote">Max Vote</label>

            <input
              class="uk-input"
              type="number"
              id="maximumVote"
              name="maximumVote"
              formControlName="maxVote"
            />
            <small
              class="text-danger"
              *ngIf="
                positionForm.controls['maxVote'].hasError('required') &&
                positionForm.controls['maxVote'].touched
              "
              >Maximum Vote field is required
            </small>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">
        Cancel
      </button>
      <button
        class="uk-button uk-button-primary uk-margin-small-left uk-modal-close"
        type="button"
        id="save-position"
        (click)="createPosition()"
      >
        Save
      </button>
    </div>
  </div>
</div>
<div id="update-position" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h4>Update Position</h4>
    </div>
    <div class="uk-modal-body">
      <form [formGroup]="positionForm">
        <fieldset class="uk-fieldset">
          <div class="uk-margin">
            <label for="position">Position</label>

            <input
              class="uk-input"
              type="text"
              id="position"
              name="position"
              formControlName="description"
            />
            <small
              class="text-danger"
              *ngIf="
                positionForm.controls['description'].hasError('required') &&
                positionForm.controls['description'].touched
              "
              >Position field is required
            </small>
          </div>
          <div class="uk-margin">
            <label for="order">Order</label>

            <input
              class="uk-input"
              type="number"
              id="order"
              name="order"
              formControlName="maxVote"
            />
            <small
              class="text-danger"
              *ngIf="
                positionForm.controls['maxVote'].hasError('required') &&
                positionForm.controls['maxVote'].touched
              "
              >Maximum Vote field is required
            </small>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">
        Cancel
      </button>
      <button
        class="uk-button uk-button-primary uk-margin-small-left uk-modal-close"
        type="button"
        id="save-position"
        (click)="updatePosition()"
      >
        Save
      </button>
    </div>
  </div>
</div>
